{{city.name}}'s Details
<br>
Country: {{city.country}}
<hr>
Rentals available in {{city.name}}:
<ul>
  {{#each city.rentals as |rental|}}
    <li>{{#link-to 'rental' rental.id}}{{rental.owner}}'s {{rental.type}}{{/link-to}}</li>
  {{/each}}
</ul>

<button {{action 'destroyCity' city}}>Delete</button>
